openapi: 3.0.1
info:
  title: Qodo API
  description: >-
    Qodo (formerly CodiumAI) is an AI code-integrity platform delivered as a
    hosted Git app and open-source PR-Agent (Qodo Merge), IDE plugins (Qodo
    Gen), and a terminal agent runtime (Qodo Command/CLI). As of this writing
    Qodo does not publish a documented, general-purpose public HTTP REST API
    with stable, versioned endpoints.

    Qodo Merge / PR-Agent is triggered by Git provider events and pull-request
    comment commands (for example /review, /describe, /improve, /ask) rather
    than by a public REST API. Self-hosted PR-Agent runs a webhook server that
    receives inbound HTTP callbacks from GitHub, GitLab, Bitbucket, Azure
    DevOps, or Gitea; that webhook is an integration target for the Git
    provider, not a documented public Qodo API for application developers.

    Qodo Command can expose user-defined agents locally as HTTP services
    (--webhook), as a web UI (--ui), or as Model Context Protocol (MCP) servers
    (--mcp); those endpoints are defined by the user's own agent configuration
    and run on infrastructure the user controls, so they are not enumerable as
    a fixed Qodo API surface.

    No paths are documented here because no stable public HTTP endpoints are
    published by Qodo. This file is intentionally left with an empty paths
    object to avoid fabricating an API surface, and should be updated if and
    when Qodo publishes an official HTTP API reference.
  termsOfService: https://www.qodo.ai/terms-of-service/
  contact:
    name: Qodo
    url: https://www.qodo.ai
  license:
    name: Apache-2.0 (PR-Agent open-source component)
    url: https://github.com/qodo-ai/pr-agent/blob/main/LICENSE
  version: '1.0'
servers:
  - url: https://www.qodo.ai
    description: >-
      Marketing and documentation host. Not a documented API base URL; included
      only to anchor the specification. Qodo does not publish a public API base
      URL.
paths: {}
components:
  schemas: {}
